body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: left;
  right: 400px;
}
  
.leaflet-container {
  width: 600px;
  height: 500px;
  position: absolute;
  top: 170px;
  left: 780px;
}

.container {
  background-color: #636a7a;
  display: flex;
  flex-direction: column;
  height: 580px;
  width: 550px;
  top: 0px;
  overflow-y: scroll;
}

.title {
  text-align: center;
  font-size: 28px; 
  padding-bottom: 50px;
}

.heading {
  font-size: 20px; 
  text-align: center;
}

.info {
  font-size: 14px;
  padding-left: 10px;
}

.photo {
  padding-left: 10px;
}